body {
    background-color: #e5e5e5;
    color: #000000;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 150%;
}

h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 21px;
}

h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.7);
}

svg {
    color: #000000 !important;
}

.container-main {
    min-height: 150vh;
    align-content: center;
    display: grid;
}

.navbar {
    margin-bottom: 32px;
}

.navbar img,
.matches .icon-title {
    padding: 20px;
    border: 1px solid #E8E6EA;
    border-radius: 15px;
}

.navbar span {
    color: #E94057;
    font-weight: 700
}

.device {
    background-color: #FFFFFF;
    margin: auto;
    height: 812px;
    min-width: 375px;
    padding: 44px 40px;
}


.profile-details .profile-image {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 91px 0px 53px 0px;
}

.profile-details .profile-image button {
    position: absolute;
    display: inline;
    right: 90px;
    bottom: 53px;

    padding: 5px;
    border-radius: 20px;
    width: 33px;
}

.profile-details .form {
    position: relative;
    min-height: 500px;
}

.profile-details .form input {
    margin-bottom: 12px;
}

.profile-details .form button {
    position: absolute;
    bottom: 0;
    left: calc(0% - 0px);
}

.interest {
    margin: 6px 0;
}

.interests .selected~label {
    background: #E94057 !important;
    box-shadow: 0px 15px 15px rgba(233, 64, 87, 0.2) !important;
    border-radius: 15px;
    padding: 12px 10px;
    align-items: center;
    display: flex;
    color: #FFFFFF !important;
}



.interests .option-checkbox~label {
    border: 1px solid #E8E6EA;
    border-radius: 15px;
    padding: 12px 10px;
    align-items: center;
    display: flex;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.interests .option-checkbox~label>img {
    margin-right: 8px;
}

.profile-details .form button,
.interests .form button,
.whoAmI .form button {
    background-color: #E94057;
    border-radius: 15px;
    padding: 16px 32px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    margin-top: 40px;
    width: 100%;
}

.whoAmI .form button {
    position: absolute;
    bottom: calc(0% + 28px);
    left: calc(0% - 0px);
}

.whoAmI .form {
    min-height: 600px;
    padding-top: 86px;
    position: relative;
}

.whoAmI .sex-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 0;
    border: 1px solid #E8E6EA;
    margin: 4px 0;
}

.whoAmI .sex-option input {
    display: none;
}

.whoAmI .sex-option input:checked~label {
    background-color: #E94057 !important;
    color: #FFFFFF;
    border: none;
    border-radius: 15px;

}

.whoAmI .sex-option label {
    width: 100%;
    padding: 16px 32px;
    padding-left: 8px;
}

.whoAmI .alert-error {
    position: absolute;
    top: 8rem;
    background: red;
    padding: 12px;

}

.whoAmI .alert-error h5 {
    color: #fff;
    margin: 0;
    font-weight: 700;
}

.whoAmI .alert-error span {
    display: flex;
    justify-content: end;
    color: #FFFFFF;
    font-weight: 900;
}

.matches {
    position: relative;
}

.navigation {
    position: absolute;
    bottom: 0;
    left: calc(0% - 0px);
    width: 100%;
    padding: 12px 40px;
    background: #F3F3F3;
}

.matches h5 {
    margin-top: 20px;
}

.matches .match-list {
    height: 600px;
    overflow-x: auto;
}

.matches .match-list::-webkit-scrollbar {
    display: none;
}

.matches .match-list .match {
    min-height: 195px;
    margin: 5px 0;
}

.matches .match-list .info {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-items: end;
    display: grid;
    position: relative;
    height: 250px;
    border-radius: 15px;
}

.matches .match-list .match h5,
.matches .match-list .match img {
    position: absolute;
    bottom: 0;
}

.matches .match-list .match h5 {
    color: #FFFFFF;
    margin: 0 0 32px 16px;
    font-weight: 700;
}

/* .matches .match-list .match .undo-match{
    background: url(pexels-tomaz-barcellos-1987301);
    filter: blur(12px);
} */
.matches .match-list .match img {
    left: calc(50% - 15px);
}

.match-notification {
    position: relative;
    display: grid;
    align-content: end;
    text-align: center;
}

.match-notification .person-one,
.match-notification .person-two {
    height: 260px;
    width: 200px;
    background-repeat: no-repeat;
}

.match-notification .person-one {
    margin-right: auto;
    position: absolute;
    top: 17%;
    left: 13%;
}

.match-notification .person-two {
    margin-left: auto;
    position: absolute;
    top: 6%;
    right: 9%;
}

.match-notification h1 {
    color: #E94057
}

.match-notification h6 {
    margin-bottom: 72px;
}

.match-notification .go-chat,
.onboarding .go-cadaster {
    background-color: #E94057;
    color: #FFFFFF;
}

.match-notification .keep-swiping {
    color: #E94057;
    font-weight: 700;
}

.match-notification .go-chat,
.match-notification .keep-swiping,
.onboarding .go-cadaster {
    border: none;
    padding: 16px 32px;
    border-radius: 15px;
    margin: 12px 0;
}

.match-notification .person-one img,
.match-notification .person-two img {
    background-color: #FFFFFF;
    padding: 12px;
    border-radius: 100%;
    position: absolute;
    box-shadow: 0px 20px 50px;
}

.match-notification .person-one img {
    bottom: -5%;
    left: 15%;
    transform: rotate(-10deg);
}

.match-notification .person-two img {
    top: -5%;
    left: 15%;
    transform: rotate(10deg);
}

.main {
    position: relative;
}

.main .person-profile {
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 48px;
    border-radius: 15px;
    padding: 20px 16px;
    display: flex;
    align-items: end;
    color: #FFFFFF;
}

.main .options div {
    box-shadow: 0px 15px 15px rgba(233, 64, 87, 0.2);
    border-radius: 100%;
}

.main .options .next,
.main .options .super-like {
    height: 20px;
    width: 20px;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .options .like {
    background-color: #E94057;
    padding: 32px 28px;
}

.main .options .like img {
    height: 36px;
    width: 42px;
}

.onboarding {
    position: relative;
}

.onboarding .info-carrossel {
    text-align: center;
}

.onboarding .slick-slide h3,
.onboarding .slick-slide h6 {
    display: none;
}

.onboarding .slick-current h3,
.onboarding .slick-current h6 {
    display: block !important;
}

.onboarding .info-carrossel img {
    margin: auto;
    width: 235px;
    height: 360px;
    object-fit: cover;
}

.onboarding .go-cadaster {
    margin: 20px 0;
    width: 100%;
}

.onboarding .footer {
    position: absolute;
    bottom: 0;
    left: calc(0% - 0px);
    width: 100%;
    padding: 0 40px 44px 40px;
}

.onboarding .footer h6 {
    text-align: center;
}

.active-page path,
.active-page rect {
    fill: #E94057 !important;
    display: none;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 30px;
    }

    h6,
    .insterests .option h6 {
        font-size: 13px;
    }
}

@media (max-width: 992px) {
    .interests .options {
        height: 400px;
        overflow-x: auto;
    }
}

@media (max-width: 768px) {
    .matches .match-list .info {
        width: 50%;
        margin: auto;
    }

    .container-main {
        min-height: unset;
    }
}

/* @media (max-height: 811px){
    .navigation{
        position: fixed;
    }
} */